DATABASE_URL=postgresql+psycopg2://postgres:password@db:5432/x5hack
SERVICE_NAME=webx5

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=x5hack

PORT=8000

JWT_SECRET_KEY=change-me-in-production
JWT_TTL_DAYS=7
JWT_REFRESH_TTL_DAYS=14
TERMINAL_TOKEN=change-me-in-production
OPENROUTER_API_KEY=change-me-in-production
